/*// 背景图片地址和大小*/
/*//定位全屏*/
/*//定位上下左右居中*/
/*//定位上下居中*/
/*//定位上下居中*/
/*//宽高*/
/*//字体大小、行高、字体*/
/*//字体大小，颜色*/
/*//flex 布局和 子元素 对其方式*/
/*多行省略*/
.chatInfo[data-v-bf744bf0]{display:flex;width:100%
}
.chatInfo .chatInfoContainer[data-v-bf744bf0]{display:flex;flex-direction:row;justify-content:cneter;align-items:center;padding:0 1rem
}
.chatInfo .chatInfoContainer .leftAvatar[data-v-bf744bf0]{width:2.2rem;height:2.2rem;display:flex;align-self:flex-start;padding-top:.8rem
}
.chatInfo .chatInfoContainer .leftAvatar img[data-v-bf744bf0]{width:2.2rem;height:2.2rem;border-radius:50%
}
.chatInfo .chatInfoContainer .rightContainer[data-v-bf744bf0]{display:flex;flex-direction:column;justify-content:center;align-items:flex-start;width:13.8rem;margin-left:.25rem
}
.chatInfo .chatInfoContainer .rightContainer .nickname span[data-v-bf744bf0]{font-size:.6rem;color:#434a54;padding:.3rem 0
}
.chatInfo .chatInfoContainer .rightContainer .rightMessage[data-v-bf744bf0]{display:flex;background-image:url(../images/3090a3243316063d2b0a1f282b476dc1.png);background-repeat:no-repeat;background-size:100% 100%;width:13.8rem;min-height:3.1rem;align-items:center
}
.chatInfo .chatInfoContainer .rightContainer .rightMessage .content[data-v-bf744bf0]{font-size:.65rem;color:#434a54;font-weight:500;max-width:12.7rem;padding:.5rem 0;padding-left:1.3rem;word-break:break-all;word-wrap:break-word
}
/*// 背景图片地址和大小*/
/*//定位全屏*/
/*//定位上下左右居中*/
/*//定位上下居中*/
/*//定位上下居中*/
/*//宽高*/
/*//字体大小、行高、字体*/
/*//字体大小，颜色*/
/*//flex 布局和 子元素 对其方式*/
/*多行省略*/
.chatInfo[data-v-55403283]{display:flex;width:100%
}
.chatInfo .chatInfoContainer[data-v-55403283]{display:flex;flex-direction:row;justify-content:cneter;align-items:center;padding:0 1rem
}
.chatInfo .chatInfoContainer .leftAvatar[data-v-55403283]{width:2.2rem;height:2.2rem;display:flex;align-self:flex-start;padding-top:.8rem
}
.chatInfo .chatInfoContainer .leftAvatar img[data-v-55403283]{width:2.2rem;height:2.2rem;border-radius:50%
}
.chatInfo .chatInfoContainer .rightContainer[data-v-55403283]{display:flex;flex-direction:column;justify-content:center;align-items:flex-start;width:13.8rem;margin-left:.25rem
}
.chatInfo .chatInfoContainer .rightContainer .nickname[data-v-55403283]{display:flex;align-self:flex-end
}
.chatInfo .chatInfoContainer .rightContainer .nickname span[data-v-55403283]{font-size:.6rem;color:#434a54;padding:.3rem 0
}
.chatInfo .chatInfoContainer .rightContainer .rightMessage[data-v-55403283]{display:flex;background-image:url(../images/ba66a7d0e67a09edd8e768713b50a789.png);background-repeat:no-repeat;background-size:100% 100%;width:13.8rem;min-height:3.1rem;align-items:center
}
.chatInfo .chatInfoContainer .rightContainer .rightMessage .content[data-v-55403283]{font-size:.65rem;color:#fff;font-weight:500;max-width:12.7rem;padding:.5rem 0;padding-left:1.3rem;word-break:break-all;word-wrap:break-word
}
/*// 背景图片地址和大小*/
/*//定位全屏*/
/*//定位上下左右居中*/
/*//定位上下居中*/
/*//定位上下居中*/
/*//宽高*/
/*//字体大小、行高、字体*/
/*//字体大小，颜色*/
/*//flex 布局和 子元素 对其方式*/
/*多行省略*/
.chatWindow{display:flex;flex:1;flex-direction:column;width:100%;height:100%
}
.chatWindow .innerContainer{display:flex;flex:1;flex-direction:column;background-image:url(../images/c38b62466f842d524f3b7dc8461cb163.png);background-repeat:no-repeat;background-size:100% 100%
}
.chatWindow .innerContainer .chatContent{flex:1;overflow-y:scroll;overflow-x:hidden;overflow-scrolling:touch
}
.chatWindow .innerContainer .footerInput{width:100%;height:3rem;background-color:#35484f;display:flex;flex-direction:row;justify-content:space-between;align-items:center;padding:0 1rem
}
.chatWindow .innerContainer .footerInput .el-input{width:80%
}
.chatWindow .innerContainer .footerInput .sendMsg img{width:1.5rem;height:1.5rem
}
