/*// 背景图片地址和大小*/
/*//定位全屏*/
/*//定位上下左右居中*/
/*//定位上下居中*/
/*//定位上下居中*/
/*//宽高*/
/*//字体大小、行高、字体*/
/*//字体大小，颜色*/
/*//flex 布局和 子元素 对其方式*/
/*多行省略*/
.container{width:100%;height:100%;display:flex;flex:1;flex-direction:column;background-image:url(../images/928549d8685ab6d9bee9f4b92b54f0c0.png);background-repeat:no-repeat;background-size:100% 100%
}
.container .userInput{padding-top:10rem
}
.container .userInput .inptDivCommon{display:flex;flex-direction:row;align-items:center;margin:0 1.5rem 1rem;padding:0 .5rem;border:1px solid #a3cbdf;border-radius:1.2rem
}
.container .userInput .inptDivCommon span:first-child{width:3.5rem;color:#a3cbdf;font-size:.65rem
}
.container .userInput .inptDivCommon .phoneOrPass{width:1rem;height:1rem
}
.container .userInput .inptDivCommon .el-input__inner{border:none;background-color:transparent;color:#fff
}
.container .controlBtn{display:flex;flex-direction:column;justify-content:center
}
.container .controlBtn .el-button{flex:1;margin:.5rem 1.5rem;background-color:#56b3f6
}
.container .controlBtn .el-button span{color:#feffff;font-size:.8rem
}
